src/main/resources/xsd/HelloWorld.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://jz.com/helloWorld/v1"
           elementFormDefault="qualified">

    <xs:element name="HelloWorldRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="HelloWorldResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>